@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


/*In common*/

@media(min-width:465px) and (max-width:699px) {
.container8 {
    background-color: rgb(255, 255, 255);
    width: 700px;
    height: 700px;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column;
}

.container8 h2 {
    height: 30px;
    position: absolute;
    top: 1%;
    font-size: larger;
    font-weight: 600;
    left: 2%;
    color: #8e44ad;
}
.home {
    height: 30px;
    position: absolute;
    top: 10%;
    right: 2%;
}

.home img {
    height: 23px;
}

.home img:hover {
opacity: 0.8;
transform: scale(1.1);
transition: all 0.3s ease;
    cursor: pointer;
}
.hex1 {
    border: 1px solid rgb(216, 214, 214);
    display: flex;
    flex-direction: row;
    padding: 4px;
    gap: 40px;
    height: 35px;
    width: 170px;
}


.row_row{
    display: flex;
    flex-direction: row;
}
span{
    position: relative;
    top:-50%;
}
#hex_code{
    position: relative;
    top: 15%;
    font-size: large;
}
#btncopy1:hover,#btncopy2:hover,#btncopy3:hover {
    background: linear-gradient(341.87deg, rgb(192, 87, 215), rgb(94, 99, 192));
    transition-duration: 1s;
}
}

@media(min-width:700px) and (max-width:1100px) {
    .container8 {
        background-color: rgb(255, 255, 255);
        width: 700px;
        height: 700px;
        justify-content: center;
        align-items: center;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    
    .container8 h2 {
        height: 30px;
        position: absolute;
        top: 1%;
        font-size: larger;
        font-weight: 600;
        left: 2%;
        color: #8e44ad;
    }
    .home {
        height: 30px;
        position: absolute;
        top: 10%;
        right: 2%;
    }
    
    .home img {
        height: 23px;
    }
    
    .home img:hover {
    opacity: 0.8;
    transform: scale(1.1);
    transition: all 0.3s ease;
        cursor: pointer;
    }
    .hex1 {
        border: 1px solid rgb(216, 214, 214);
        display: flex;
        flex-direction: row;
        padding: 4px;
        gap: 40px;
        height: 35px;
        width: 170px;
    }
    
    
    .row_row{
        display: flex;
        flex-direction: row;
    }
    span{
        position: relative;
        top:-50%;
    }
    #hex_code{
        position: relative;
        top: 15%;
        font-size: large;
    }
    #btncopy1:hover,#btncopy2:hover,#btncopy3:hover {
        background: linear-gradient(341.87deg, rgb(192, 87, 215), rgb(94, 99, 192));
        transition-duration: 1s;
    }
    }

    
    @media(min-width:1101px) {
    .container8 {
        background-color: rgb(255, 255, 255);
        width: 700px;
        height: 700px;
        justify-content: center;
        align-items: center;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    
    .container8 h2 {
        height: 30px;
        position: absolute;
        top: 1%;
        font-size: larger;
        font-weight: 600;
        left: 2%;
        color: #8e44ad;
    }
    .home {
        height: 30px;
        position: absolute;
        top: 10%;
        right: 2%;
    }
    
    .home img {
        height: 23px;
    }
    
    .home img:hover {
    opacity: 0.8;
    transform: scale(1.1);
    transition: all 0.3s ease;
        cursor: pointer;
    }
    .hex1 {
        border: 1px solid rgb(216, 214, 214);
        display: flex;
        flex-direction: row;
        padding: 4px;
        gap: 40px;
        height: 35px;
        width: 170px;
    }
    
    
    .row_row{
        display: flex;
        flex-direction: row;
    }
    span{
        position: relative;
        top:-50%;
    }
    #hex_code{
        position: relative;
        top: 15%;
        font-size: large;
    }
    #btncopy1:hover,#btncopy2:hover,#btncopy3:hover {
        background: linear-gradient(341.87deg, rgb(192, 87, 215), rgb(94, 99, 192));
        transition-duration: 1s;
    }
    }

/*//in common*/












@media(min-width:465px) and (max-width:699px)  {
    .red {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 12%;
        left: 1%;
        gap: 15px;
        background-color: #fff;
        padding: 0px 8px;
    }
    .green {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 20px;
        gap: 20px;
        position: absolute;
        top: 26%;
        left: 0%;
        padding: 0px 10px;
    }
    .blue {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 30px;
        position: absolute;
        top: 39%;
        left: 0%;
        gap: 20px;
        background-color: #fff;
        padding: 3px 10px;
    }
    .opacity {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top:53%;
        left: 1%;
        gap: 5px;
        background-color: #fff;
        padding: 0px 8px;
    }
    .hex{
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top:65%;
        left: 1%;
        gap: 20px;
        background-color: #fff;
        padding: 0px 8px;
    }
}
@media(min-width:465px) and (max-width:699px)  {
        .red input {
            width: 170px;
            position: relative;
            margin-top: 5px;
        }
    
        .green input {
            width: 170px;
            position: relative;
            margin-top: 5px;
        }
        .blue input{
            width: 170px;
            position: relative;
            margin-top: 5px;
        }
    
        .opacity input {
            width: 170px;
            position: relative;
            margin-top: 15px;
        }
        .hex input{
            width: 23px;
            height: 23px;
        }
        #red_value,#green_value,#blue_value{
            position: relative;
            left: 4%;
            top: 13%;
        }
        #opacity_value{
            position: relative;
            left: 4%;
            margin-top: 12px;
        }
        #hex_code{
            position: relative;
            top: 15%;
            font-size: large;
        }

}


@media(min-width:700px) and (max-width:1100px) {
    .red {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 20px;
        gap: 35px;
        background-color: #fff;
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0px 10px;
    }
    .green {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 20px;
        gap: 30px;
        position: absolute;
        top: 27%;
        left: 0%;
        padding: 0px 10px;
    }
    .blue {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 20px;
        gap: 30px;
        position: absolute;
        top: 40%;
        left: 0%;
        background-color: rgb(255, 255, 255);
        padding: 0px 10px;

    }
    .opacity {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 20px;
        gap: 30px;
        position: absolute;
        top: 55%;
        left: 0%;
        background-color: rgb(255, 255, 255);
        padding: 0px 10px;

    }
    .hex {
        display: flex;
        flex-direction: row;
        width: 100%;
        position: absolute;
        top: 70%;
        left: 1%;
        gap: 40px;
        background-color: #fff;
        padding: 0px 8px;
    }
    .red input {
        width: 290px;
        margin-left: 21px;
        position: relative;
    left: -6%;
    top: -50%;
    }

    .green input {
        width: 290px;
        margin-left: 21px;
        position: relative;
    left: -6%;
    top: -50%;
    }
    .blue input{
        width: 290px;
        margin-left: 21px;
        position: relative;
    left: -6%;
    top: -53%;
    }
    .opacity input{
        width: 290px;
        margin-left: 21px;
        position: relative;
    left: -6%;
    top: -53%;
    }
    .hex input {
        width: 23px;
        height: 23px;
    }
}
@media(min-width:1101px) {
    .red {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 12%;
        left: 2%;
        gap: 25px;
        background-color: #fff;
        padding: 0px 10px;
    }
    .green {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 20px;
        gap: 25px;
        position: absolute;
        top: 27%;
        left: 2%;
        padding: 0px 10px;
    
    }
    .blue {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 25px;
        gap: 30px;
        position: absolute;
        top: 42%;
        left: 2%;
        background-color: #fff;
        padding: 0px 10px;
    }
    .opacity {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top:57%;
        left: 2%;
        gap: 30px;
        background-color: #fff;
        padding: 0px 8px;
    }

    .hex {
        display: flex;
        flex-direction: row;
        width: 100%;
        position: absolute;
        top: 75%;
        left: 2%;
        gap: 150px;
        background-color: #fff;
        padding: 0px 8px;
    }
    .hex1{
        width:200px;
    }
    .red input {
        width: 400px;
        position: relative;
    }

    .green input {
        width: 400px;
        position: relative;
    }
    .blue input{
        width: 400px;
        position: relative;
        top: -50%;
    }
    .opacity input{
        width: 400px;
        position: relative;
        top: -50%;
    }
    .hex input{
        width: 23px;
        height: 23px;
    }
    span{
        position: relative;
        top:-50%;
        left: 2%;
    }
    .green span{
        position: relative;
        top:-10%;

    }


}
/*
.hex1 {
    border: 1px solid rgb(216, 214, 214);
    display: flex;
    flex-direction: row;
    padding: 4px;
    gap: 40px;
    height: 35px;
    width: 170px;
}


.row_row{
    display: flex;
    flex-direction: row;
}
span{
    position: relative;
    top:-50%;
}
#hex_code{
    position: relative;
    top: 15%;
    font-size: large;
}*/










/*container2*/

@media(min-width:465px) and (max-width:699px) {
    .tool1 {
        width: 200px;
        height: 80px;
        border-radius: 5px;
        border:2px solid rgb(221, 217, 217) ;
        background-color: #87cefa;
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .tool2 {
        width: 200px;
        height: 80px;
        border:2px solid rgb(221, 217, 217) ;
        border-radius: 5px;
        background-color: #87cefa;
        position: absolute;
        top: 48%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #lang1 {
        width: 225px;
        height: 60px;
        background-color: rgb(248, 251, 249);
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        resize: none;
        border: 2px;
        padding: 15px 3px;
        box-shadow: 1px 1px 40px 1px rgb(150, 138, 241)
    }
    #lang2 {
        width: 225px;
        height: 60px;
        background-color: rgb(248, 251, 249);
        position: absolute;
        top: 21%;
        left: 50%;
        transform: translate(-50%, -50%);
        resize: none;
        border: 2px;
        padding: 15px 3px;
        box-shadow: 1px 1px 40px 1px rgb(150, 138, 241)
    }
    #lang3 {
        width: 225px;
        height: 60px;
        background-color: rgb(248, 251, 249);
        position: absolute;
        top: 89%;
        left: 50%;
        transform: translate(-50%, -50%);
        resize: none;
        border: 2px;
        padding: 15px 3px;
        box-shadow: 1px 1px 40px 1px rgb(150, 138, 241);
        font-size: large;
        
    }
    #btncopy1 {
        width: 190px;
        height: 40px;
        position: absolute;
        top: 76%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 700;
        border: solid 1px #fff;
        background: linear-gradient(341.87deg, rgb(133, 115, 215), rgb(94, 96, 192));
        cursor: pointer;
        color: #fff;
        border-radius: 5px;
    }
    #btncopy2 {
        width: 190px;
        height: 40px;
        position: absolute;
        top: 32%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 700;
        border: solid 1px #fff;
        background: linear-gradient(341.87deg, rgb(133, 115, 215), rgb(94, 96, 192));
        cursor: pointer;
        color: #fff;
        border-radius: 5px;
    }
    #btncopy3 {
        width: 190px;
        height: 40px;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 700;
        border: solid 1px #fff;
        background: linear-gradient(341.87deg, rgb(133, 115, 215), rgb(94, 96, 192));
        cursor: pointer;
        color: #fff;
        border-radius: 5px;
    }



}

@media(min-width:700px) and (max-width:1100px) {

    .tool1 {
        width: 250px;
        height: 80px;
        border-radius: 5px;
        border:2px solid rgb(221, 217, 217) ;
        background-color: #87cefa;
        position: absolute;
        top: 7%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .tool2 {
        width: 250px;
        height: 80px;
        border:2px solid rgb(221, 217, 217) ;
        border-radius: 5px;
        background-color: #87cefa;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #lang1 {
        width: 300px;
        height: 40px;
        padding: 7px 15px;
        background-color: rgb(248, 251, 249);
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        resize: none;
        border: 2px;
        box-shadow: 1px 1px 40px 1px rgb(150, 138, 241)
    }
    #lang2 {
        width: 300px;
        height: 40px;
        padding: 7px 15px;
        background-color: rgb(248, 251, 249);
        position: absolute;
        top: 23%;
        left: 50%;
        transform: translate(-50%, -50%);
        resize: none;
        border: 2px;
        box-shadow: 1px 1px 40px 1px rgb(150, 138, 241)
    }
    #lang3 {
        width: 300px;
        height: 40px;
        padding: 7px 15px;
        background-color: rgb(248, 251, 249);
        position: absolute;
        top: 87%;
        left: 50%;
        transform: translate(-50%, -50%);
        resize: none;
        border: 2px;
        box-shadow: 1px 1px 40px 1px rgb(150, 138, 241);
        font-size: large;
    }
    #btncopy1 {
        width: 190px;
        height: 40px;
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 700;
        border: solid 1px #fff;
        background: linear-gradient(341.87deg, rgb(133, 115, 215), rgb(94, 96, 192));
        cursor: pointer;
        color: #fff;
        border-radius: 5px;
    }
    #btncopy2 {
        width: 190px;
        height: 40px;
        position: absolute;
        top: 33%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 700;
        border: solid 1px #fff;
        background: linear-gradient(341.87deg, rgb(133, 115, 215), rgb(94, 96, 192));
        cursor: pointer;
        color: #fff;
        border-radius: 5px;
    }
    #btncopy3 {
        width: 190px;
        height: 40px;
        position: absolute;
        top: 97%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 700;
        border: solid 1px #fff;
        background: linear-gradient(341.87deg, rgb(133, 115, 215), rgb(94, 96, 192));
        cursor: pointer;
        color: #fff;
        border-radius: 5px;
    }
}

@media(min-width:1101px) {
    .tool1 {
        width: 500px;
        height: 80px;
        border-radius: 5px;
        border:2px solid rgb(221, 217, 217) ;
        background-color: #87cefa;
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .tool2 {
        width: 500px;
        height: 80px;
        border:2px solid rgb(221, 217, 217) ;
        border-radius: 5px;
        background-color: #87cefa;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #lang1 {
        align-items: center;
        justify-content: center;
        padding: 15px 15px;
        width: 500px;
        height: 50px;
        background-color: rgb(248, 251, 249);
        position: absolute;
        top: 68%;
        left: 50%;
        transform: translate(-50%, -50%);
        resize: none;
        border: 2px;
        box-shadow: 1px 1px 40px 1px rgb(150, 138, 241)
    }
    #lang2 {
        align-items: center;
        justify-content: center;
        padding: 15px 15px;
        width: 500px;
        height: 50px;
        background-color: rgb(248, 251, 249);
        position: absolute;
        top: 21%;
        left: 50%;
        transform: translate(-50%, -50%);
        resize: none;
        border: 2px;
        box-shadow: 1px 1px 40px 1px rgb(150, 138, 241)
    }
    #lang3 {
        align-items: center;
        justify-content: center;
        padding: 15px 15px;
        width: 500px;
        height: 52px;
        background-color: rgb(248, 251, 249);
        position: absolute;
        top: 91%;
        left: 50%;
        transform: translate(-50%, -50%);
        resize: none;
        border: 2px;
        box-shadow: 1px 1px 40px 1px rgb(150, 138, 241);
        font-size: large;
    }
    #btncopy1 {
        width: 190px;
        height: 40px;
        position: absolute;
        top: 79%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 700;
        border: solid 1px #fff;
        background: linear-gradient(341.87deg, rgb(133, 115, 215), rgb(94, 96, 192));
        cursor: pointer;
        color: #fff;
        border-radius: 5px;
    }
 
        #btncopy2 {
            width: 190px;
            height: 40px;
            position: absolute;
            top: 32%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-weight: 700;
            border: solid 1px #fff;
            background: linear-gradient(341.87deg, rgb(133, 115, 215), rgb(94, 96, 192));
            cursor: pointer;
            color: #fff;
            border-radius: 5px;
        }
 
            #btncopy3 {
                width: 190px;
                height: 40px;
                position: absolute;
                top: 102%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-weight: 700;
                border: solid 1px #fff;
                background: linear-gradient(341.87deg, rgb(133, 115, 215), rgb(94, 96, 192));
                cursor: pointer;
                color: #fff;
                border-radius: 5px;
            }            

}
/*
#btncopy1:hover,#btncopy2:hover,#btncopy3:hover {
    background: linear-gradient(341.87deg, rgb(192, 87, 215), rgb(94, 99, 192));
    transition-duration: 1s;
}*/